<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vip.saturn.job.console.mybatis.repository.ItilOrderRepository">
    <resultMap id="BaseResultMap" type="com.vip.saturn.job.console.mybatis.entity.ItilOrder">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="serialno" property="serialno" jdbcType="VARCHAR"/>
        <result column="applier" property="applier" jdbcType="VARCHAR"/>
        <result column="apply_time" property="apply_time" jdbcType="TIMESTAMP"/>
        <result column="domain" property="domain" jdbcType="VARCHAR"/>
        <result column="change_type" property="change_type" jdbcType="VARCHAR"/>
        <result column="event_serialnos" property="event_serialnos" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, serialno, applier, apply_time, domain, change_type, event_serialnos, status, url
    </sql>
    <select id="selectBySerialno" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from itil_order
        where serialno = #{serialno,jdbcType=VARCHAR}
        limit 0,1
    </select>
    <insert id="insert" parameterType="com.vip.saturn.job.console.mybatis.entity.ItilOrder">
        insert into itil_order (serialno, applier, apply_time, domain, change_type, event_serialnos, status, url)
        values (#{serialno,jdbcType=VARCHAR}, #{applier,jdbcType=VARCHAR}, #{apply_time,jdbcType=TIMESTAMP},
        #{domain,jdbcType=VARCHAR}, #{change_type,jdbcType=VARCHAR}, #{event_serialnos,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR})
    </insert>
    <update id="updateStatusBySerialno" parameterType="com.vip.saturn.job.console.mybatis.entity.ItilOrder">
        update itil_order
        <set>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where serialno = #{serialno,jdbcType=VARCHAR}
    </update>
    <select id="queryOrdersWithStartTime" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from itil_order where 1 = 1 and applier = #{applier,jdbcType=VARCHAR} and domain = #{domain,jdbcType=VARCHAR}
        and
        <![CDATA[ apply_time >  #{startTime,jdbcType=VARCHAR} ]]>
    </select>
</mapper>