# maven ignore
target/
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
saturn-job-console/logs/
*.doc
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
sh.exe.stackdump
/saturn-job-st/info

# console static ignore
saturn-console/src/main/resources/static
