<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Saturn 管理中心</title>
        <link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/webjars/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="css/error.css?v=saturn-console-ui-version" rel="stylesheet" />
  </head>
  <body class="error"  style="margin-top:70px;">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="logo">
          <h1><i class="fa fa-frown-o red"></i> 404 </h1>
        </div>
        <p class="lead text-muted">页面不存在.</p>
        <div class="col-lg-6 col-lg-offset-3">
          <div class="btn-group btn-group-justified">
            <a href="javascript:parent.document.getElementById('contentFrame').contentWindow.history.back();" class="btn btn-info">后退</a> 
            <a href="javascript:window.parent.location.reload();" class="btn btn-warning">刷新</a> 
          </div>
        </div>
      </div><!-- /.col-lg-8 col-offset-2 -->
    </div>
  </body>
</html>