<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Saturn 管理中心</title>
        <link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/webjars/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="css/error.css?v=saturn-console-ui-version" rel="stylesheet" />
  </head>
  <body class="error"  style="margin-top:70px;">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="logo">
          <h1><i class="glyphicon glyphicon-fire red"></i> 500 </h1>
        </div>
        <p class="lead text-muted">服务器内部错误.
        </p>
        <div class="col-lg-6 col-lg-offset-3">
        	<a class="btn btn-info" href="javascript:parent.document.getElementById('contentFrame').contentWindow.history.back();" role="button">后退</a>
            <button onclick="javascript:window.parent.location.reload();" class="btn btn-warning">刷新</button> 
            <button id="show-stack" class="btn btn-default">查看堆栈&nbsp;<span id="hide-show-icon" class="glyphicon glyphicon-plus"></span></button> 
        </div>
      </div>
    </div><br />
    <div class="error-msg">
    	<div class="col-lg-12">
    		<pre th:utext="${message}">
			</pre>
       	</div>
    </div>
    <script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var $errorMsg = $(".error-msg"), $hideShowIcon = $("#hide-show-icon");
			var hideMsg = true;
			$("#show-stack").click(function(){
				if (hideMsg) {
					$errorMsg.show(500);
					$hideShowIcon.removeClass("glyphicon-plus").addClass("glyphicon-minus");
				} else {
					$errorMsg.hide(500);
					$hideShowIcon.removeClass("glyphicon-minus").addClass("glyphicon-plus");
				}
				hideMsg = !hideMsg;
			});
		});
	</script>
  </body>
</html>