.el-menu {
    background-color: #14212e;
}

.el-menu--horizontal {
    border-bottom: none;
}

.el-menu--horizontal {
    & .el-menu-item {
        color: #98A5B4;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        i {
            color: #6d8999;
        }
        &:hover, &:focus{
            background-color: #253343;
            color: #e0e9f2;
            i {
                color: #9db9d2;
            }
        }
    }
    & .el-submenu {
        &:focus {
          > .el-submenu__title {
            color: #e0e9f2;
          }
        }
        > .el-menu {
            background-color: #14212e;
            top: 50px;
        }
        & .el-submenu__title {
            border-bottom: none;
            color: #98A5B4;
            height: 50px;
            line-height: 50px;
        }
        .el-submenu__title:hover {
            background-color: #253343;
            i {
                color: #9db9d2;
            }
        }
        & .el-menu-item {
          background-color: #14212e;
        }
    }
    & .el-menu-item:hover,
    & .el-submenu__title:hover,
    & .el-menu-item:focus {
      color: #e0e9f2;
    }
    & > .el-menu-item.is-active,
    & > .el-submenu.is-active .el-submenu__title {
      border-bottom: none;
      color: #e0e9f2;
      background-color: #253343;
      i {
        color: #9db9d2;
      }
    }
}

.el-submenu {
    & .el-menu-item {
        min-width: 100px;
    }
}