body {
    margin: 0;
    padding: 0;
    background: #f4f7f7;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}

table {
    font-size: 14px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #395e84;
    .el-button {
        color: #395e84;
    }
    &:hover {
        color: #2594da;
        .el-button {
            color: #2594da;
        }
    }
    &.active {
        color: #7954a7;
        .el-button {
            color: #7954a7;
        }
    }
}

form {
    margin-bottom: 0;
}

.pull-left {
    float: left!important;
}

.pull-right {
    float: right!important;
}

[class*="fa fa-"] {
    margin-right: 5px;
    margin-left: 0;
}

.text-btn {
    color: #487bb0;
}

.el-header {
    padding: 0;
}

.el-main {
    overflow: hidden;
}

.page-content {
    margin: 10px;
}