<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorator="frame-layout">
	<head>
		<title>Saturn Job配置导出</title>
		<link href="/webjars/datatables/1.10.11/css/dataTables.bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
		<div th:remove="tag" layout:fragment="content">
			<div id="wrapper">
		        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		            <div class="navbar-header">
		                <a class="navbar-brand" href="#">Saturn Job配置复制</a>
		            </div>
		         </nav>
	   		 </div>
			<div class="panel panel-default">
				<div class="panel-heading" style="padding-bottom: 2px; padding-top: 2px;">
					<div class="panel-title">
						<span class="pull-left" style="margin-top: 6px;"><i class="fa fa-reorder"></i> Saturn Job配置复制 <span id="exportMsg">(状态：复制初始化)</span></span>
						<div class="pull-right">
							<button id="exportAllConfig" class="btn btn-info" title="将ZK的作业配置信息全量复制到数据库中">全量复制配置</button>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="panel-body">
					<table id="regCenters" class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>命名空间</th>
								<th>业务组</th>
								<th>zk集群</th>
								<th>zkClusterKey</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
			<div th:replace="fragments :: success-dialog"></div>
			<div th:replace="fragments :: failure-dialog(id='failure-dialog', reason='')"></div>
			<div th:replace="fragments :: confirm-dialog(id='exportConfig-confirm-dialog', text='')"></div>
			<input type="hidden" id="exporting" th:value="${exporting}" />
		</div>
		<div th:remove="tag" layout:fragment="footer-scripts">
			<script src="/webjars/datatables/1.10.11/js/jquery.dataTables.min.js"></script>
			<script src="/webjars/datatables/1.10.11/js/dataTables.bootstrap.min.js"></script>
			<script src="js/jobconfig_export.js?v=saturn-console-ui-version"></script>
		</div>
	</body>
</html>
