<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorator="frame-layout">
	<head>
		<link href="/webjars/datatables/1.10.11/css/dataTables.bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
		<div th:remove="tag" layout:fragment="content">
			<div class="panel panel-default">
				<div class="panel-heading" style="padding-bottom: 2px; padding-top: 2px;">
					<div class="panel-title">
						<span class="pull-left" style="margin-top: 6px;"><i class="fa fa-reorder"></i> 注册中心信息</span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body">
					<table id="regCenters" class="table table-hover table-bordered">
						<thead>
							<tr>
								<th>命名空间</th>
								<th>业务组</th>
								<th>连接地址</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
			<div th:replace="fragments :: success-dialog"></div>
			<div th:replace="fragments :: failure-dialog(id='failure-dialog', reason='')"></div>
			<div th:replace="fragments :: confirm-dialog(id='confirm-dialog', text='')"></div>
		</div>
		<div th:remove="tag" layout:fragment="footer-scripts">
			<script src="/webjars/datatables/1.10.11/js/jquery.dataTables.min.js"></script>
			<script src="/webjars/datatables/1.10.11/js/dataTables.bootstrap.min.js"></script>
			<script src="js/registry_center.js"></script>
		</div>
	</body>
</html>
