<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="frame-layout">
<head>
    <title>ZK与DB中的作业配置比较</title>
    <link href="/webjars/datatables/1.10.11/css/dataTables.bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div th:remove="tag" layout:fragment="content">
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ZK与DB中的作业配置比较</a>
            </div>
        </nav>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="padding-bottom: 2px; padding-top: 2px;">
            <div class="panel-title">
                <select id="zkCluster" class="col-sm-1">
                    <option th:each="zkCluster : ${zkClusters}" th:value="${zkCluster}" th:text="${zkCluster}"></option>
                </select>
                <button id="diffConfig" class="btn btn-info" hidden="hidden" data-loading-text="对比中..."
                        title="将zk的数据与DB的数据进行对比">开始对比
                </button>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="panel-body">
            <table id="diffData-tbl" class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>Namespace</th>
                    <th>作业</th>
                    <th>类型</th>
                    <th>细节查看</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="diff-info-dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">查看作业<span id="diff-job-name"></span>的对比信息</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <pre id="diff-info-textare"></pre>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: failure-dialog(id='failure-dialog', reason='')"></div>
</div>
<div th:remove="tag" layout:fragment="footer-scripts">
    <script src="/webjars/datatables/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="/webjars/datatables/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <script src="js/zk_db_diff.js?v=saturn-console-ui-version"></script>
</div>
</body>
</html>
