<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vip.saturn.job.console.mybatis.repository.ShareStatusRepository">
    <resultMap id="BaseResultMap" type="com.vip.saturn.job.console.mybatis.entity.ShareStatus">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="module_name" property="moduleName" jdbcType="VARCHAR"/>
        <result column="data" property="data" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, module_name, data
    </sql>
    <insert id="create" parameterType="com.vip.saturn.job.console.mybatis.entity.ShareStatus">
        insert into 
        temporary_share_status(module_name, data) 
        values(#{moduleName, jdbcType=VARCHAR}, #{data, jdbcType=VARCHAR})
    </insert>
    <update id="update" parameterType="com.vip.saturn.job.console.mybatis.entity.ShareStatus">
        update temporary_share_status
        set data = #{data, jdbcType=VARCHAR}
        where module_name = #{moduleName, jdbcType=VARCHAR}
    </update>
    <delete id="delete" parameterType="com.vip.saturn.job.console.mybatis.entity.ShareStatus">
        delete from temporary_share_status
        where module_name = #{moduleName, jdbcType=VARCHAR}
    </delete>
    <select id="get" resultMap="BaseResultMap" parameterType="com.vip.saturn.job.console.mybatis.entity.ShareStatus">
        select
        <include refid="Base_Column_List"/>
        from temporary_share_status
        where module_name = #{moduleName, jdbcType=VARCHAR}
    </select>
</mapper>