<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vip.saturn.job.console.mybatis.repository.ZkClusterInfoRepository">
    <resultMap id="BaseResultMap" type="com.vip.saturn.job.console.mybatis.entity.ZkClusterInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
	    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
	    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="VARCHAR" />
        <result column="zk_cluster_key" property="zkClusterKey" jdbcType="VARCHAR"/>
        <result column="alias" property="alias" jdbcType="VARCHAR"/>
        <result column="connect_string" property="connectString" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, create_time, created_by, last_update_time, last_updated_by, zk_cluster_key, alias, connect_string
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zk_cluster_info
    </select>
    <select id="selectByClusterKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zk_cluster_info
        where zk_cluster_key = #{zkClusterKey, jdbcType=VARCHAR} limit 0,1
    </select>
</mapper>