<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vip.saturn.job.console.mybatis.repository.DomainCountRepository">
    <resultMap id="BaseResultMap" type="com.vip.saturn.job.console.mybatis.entity.DomainCount">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="zk_cluster" property="zkCluster" jdbcType="VARCHAR"/>
        <result column="success_count" property="successCount" jdbcType="INTEGER"/>
        <result column="fail_count" property="failCount" jdbcType="INTEGER"/>
        <result column="record_date" property="recordDate" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, zk_cluster, success_count, fail_count, record_date
  </sql>

    <select id="selectByZkClusterAndRecordDate" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saturn_domain_process_history
        where
        zk_cluster = #{zkCluster} and DATE_FORMAT(record_date, '%Y-%m-%d') = DATE_FORMAT(#{recordDate}, '%Y-%m-%d')
    </select>

    <select id="selectByZkClusterAndFromStartDateToEndDate" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from saturn_domain_process_history
        where
        zk_cluster = #{zkCluster} and
        DATE_FORMAT(#{startDate}, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(record_date, '%Y-%m-%d') and
        DATE_FORMAT(record_date, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{endDate}, '%Y-%m-%d')
    </select>

    <insert id="createOrUpdateDomainCount" parameterType="map">
    insert into saturn_domain_process_history(
      zk_cluster, success_count, fail_count, record_date
    ) values (
      #{zkCluster}, #{successCount}, #{failCount}, #{recordDate}
    ) on duplicate key update
      success_count = #{successCount},
      fail_count = #{failCount}
  </insert>

</mapper>