<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vip.saturn.job.console.mybatis.repository.ShiroResitory">

    <resultMap id="baseResultMap" type="com.vip.saturn.job.console.mybatis.entity.User">
        <id column="user_id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="name" jdbcType="VARCHAR"/>
        <result column="user_password" property="password" jdbcType="VARCHAR"/>
        <result column="user_real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="user_employee_id" property="employeeId" jdbcType="VARCHAR"/>
        <result column="user_email" property="email" jdbcType="VARCHAR"/>
        <collection property="roles" ofType="com.vip.saturn.job.console.mybatis.entity.Role">
            <id column="role_id" property="id" jdbcType="BIGINT"/>
            <result column="role_key" property="key" jdbcType="VARCHAR"/>
            <result column="role_name" property="name" jdbcType="VARCHAR"/>
            <result column="role_description" property="description" jdbcType="VARCHAR"/>
            <result column="user_role_namespace" property="namespace" jdbcType="VARCHAR"/>
            <result column="user_role_approval" property="approval" jdbcType="TINYINT"/>
            <collection column="role_permissions" property="permissions"
                        ofType="com.vip.saturn.job.console.mybatis.entity.Permission">
                <id column="permission_id" property="id" jdbcType="BIGINT"/>
                <result column="permission_key" property="key" jdbcType="VARCHAR"/>
                <result column="permission_name" property="name" jdbcType="VARCHAR"/>
                <result column="permission_description" property="description" jdbcType="VARCHAR"/>
            </collection>
        </collection>
    </resultMap>

    <select id="getUserByName" resultMap="baseResultMap">
        SELECT
        U.id user_id,
        U.name user_name,
        U.password user_password,
        U.real_name user_real_name,
        U.employee_id user_employee_id,
        U.email user_email,
        R.id role_id,
        R.key role_key,
        R.name role_name,
        R.description role_description,
        UR.namespace user_role_namespace,
        UR.approval user_role_approval,
        P.id permission_id,
        p.key permission_key,
        P.name permission_name,
        P.description permisssion_description
        FROM `user` U
        LEFT JOIN `user_role` UR ON U.name=UR.user_name
        LEFT JOIN `role` R ON UR.role_key=R.key
        LEFT JOIN `role_permission` RP ON R.key=RP.role_key
        LEFT JOIN `permission` P ON RP.permission_key=P.key
        WHERE U.name=#{name}
    </select>

</mapper>